.center {
    margin: auto;
    width: 50%;
    border: 3px light grey;
    padding: 10px;
}

/* Dummy class to disable/enable multiple elements */ 
.toggle{}

fieldset { 
    display: block;
    margin-left: 2px;
    margin-right: 2px;
    padding-top: 0.35em;
    padding-bottom: 0.625em;
    padding-left: 0.75em;
    padding-right: 0.75em;
    border: 1px groove;
    border-style: solid; 
    border-color: lightgrey; 
}

td {
	padding: 0 2px 0 2px; 
}

input[type="text"]:disabled , textarea {
    background: white;
}


#footer
{
    clear: both;
    border: 1px groove #aaaaaa;
    background: #db710f;
    color: White;
    padding: 0;
    text-align: center;
    vertical-align: middle;
    line-height: normal;
    margin: 0;
    position: fixed;
    bottom: 0px;
    width: 100%;
}

.table-display{
    width: 650px;
}

/* Center the loader */
#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.dc-chart text {
    fill: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.update-prefs {
  padding-bottom: 0px;
  padding-right: 5px;
  padding-top: 1px;
  padding-left: 5px;
  text-align: center;
}